<div class="titulo">
    <h1><strong>Nuestros</strong></h1>
    <strong>Propósito</strong>
</div>

<div class="contenedorTexto">
    <div class="texto">
        <h2>¿QUIÉN ES ERCO TENTS?</h2>
        <p>
            En Erco Tents, tu tienda ecológica online, estamos comprometidos a ayudarte a vivir de una manera mas sostenible. Los productos y tips que encuentras en nuestra tienda, desde cuidado personal hasta hogar, te permiten reducir el uso de plásticos desechables y productos químicos. Ya que están elaborados con materiales y componentes alternativos, de larga durabilidad, reciclables, biodegradables, naturales y/o compostables. Contribuyendo de esta manera a una vida basura cero.
        </p>
        <h3>NUESTRO PROPÓSITO</h3>
        <p>
            El propósito de este proyecto es establecer una página web estilo e-commerce centrada en ventas de productos amigables con el medio ambiente y como un medio de intercambio de materiales reciclables por créditos para la compra de productos de la misma tienda. 
        </p>
        <h3>ALCANCE</h3>
        <p>
            El alcance del proyecto estaría delimitado por el radio de envío de empresas de mensajería (como envía, servientrega, etc) y en menor medida por las distintas gobernaciones que estén dispuestas a apoyar el proyecto.
        </p>
        <h3>OBJETIVO</h3>
        <p>
            El objetivo del proyecto es el de promover la compra de productos eco-friendly y servir como mediador entre los clientes y los puntos de reciclaje de las diferentes ciudades del país, incentivando a las personas a reciclar con la premisa de recibir créditos para distintos productos de nuestra tienda.
        </p>
        <br>
        <h2 *ngIf="!modoCelular">
            Productos construidos de manera saludable con el medio ambiente.
        </h2>
        <h3 *ngIf="modoCelular">
            Productos construidos de manera saludable con el medio ambiente.
        </h3>
        <div>
            <img src=".\assets\eco-friendly-products.jpg">
        </div>
    </div>
</div>